<div class="home">
  <h1>Welcome to {{siteTitle}}</h1>
  <p class="slogan">Find the perfect pet companion for your family.</p>
  <p>Explore our vast selection of pets, 
     accessories, and supplies. Whether you're a pet 
     owner or an enthusiast, Petopia is your go-to destination for 
     everything pet-related. Discover, connect, and create beautiful memories 
     with your beloved companions at Petopia!</p>
  <div class="banner">
    <img class="banner-img" [src]="currentImage" alt="Petopia Banner">
  </div>
  <button class="home-button">Manage Pets Data</button>
</div>