<div class="banner">
  <h1>Welcome to {{siteTitle}}</h1>
  <p>Find the perfect pet companion for your family.</p>
  <p>Explore our vast selection of pets, 
     accessories, and supplies. Whether you're a pet 
     owner or an enthusiast, Petopia is your go-to destination for 
     everything pet-related. Discover, connect, and create beautiful memories 
     with your beloved companions at Petopia!</p>
  <div class="home-banner">
    <img class="banner-img" src="/assets/petopia-banner.png" alt="petopia-banner">
  </div>
  <button class="banner-button">Manage Pets Data</button>
</div>