@import "../../shared/mixins";

.home {
  background-color: #fff;
  color: #141414;
  padding: 20px;
  text-align: center;
}

.home h1 {
  font-size: 45px;
  margin-bottom: 0px;
}

.home p {
  font-size: 18px;
  margin: 0px auto 20px;
  width: 80%;
}

.home-button {
  @include button;
}

.banner {
  margin-bottom: 20px;
}

.banner-img {
  @media (max-width: 768px) {
    width: 70%;
  }
  width: 50%;
  height: auto;
}

.slogan {
  font-style: italic;
}
