.home {
  background-color: #fff;
  color: #141414;
  padding: 20px;
  text-align: center;
}

.home h1 {
  font-size: 45px;
  margin-bottom: 0px;
}

.home p {
  font-size: 18px;
  margin: 0px auto 20px;
  width: 80%;
}

.home-button {
  background-color: #fff;
  color: #7dccff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border-color: #7dccff;
  border: 2px solid;
}

.banner {
  margin-bottom: 20px;
}

.banner-img {
  width: 70%;
  height: auto;
}

.slogan {
  font-style: italic;
}
