button {
  background-color: #fff;
  color: #7dccff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border-color: #7dccff;
  border: 2px solid;
  &:hover {
    background-color: #7dccff;
    color: #fff;
  }
}
