/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.toast-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
}

.toast-top-right {
  top: 16px;
  right: 16px;
}
